.svn
/.idea
/.gradle
/freeline
/freeline_core
/build
/*.iml
/*.project
/.settings
/app/build
/app/.classpath
/app/.project
/app/.settings
/viewer/build
/viewer/.idea
/mupdf/build
/example/build
/reader/build
/reader/.classpath
/reader/.project
/reader/.settings
/reader/.externalNativeBuild
/readercommon/build
/readercommon/.project
/readercommon/.classpath
/readercommon/.settings
/mupdf/
/example/
/jni
/reader/.externalNativeBuild

/app/*.iml
/viewer/*.iml
/mupdf/*.iml
/example/*.iml
/reader/*.iml
/readercommon/*.iml
/freeline*.zip
local.properties

